@charset "UTF-8";

/* ESTILOS PARA IMPRESSORAS */

* {
    padding: 10px;
    margin: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
    text-align: justify;
}

article::afeter {
    content: 'esse artigo foi impresso atraves do site www.cursoemvideo.com';
}