@charset "UTF-8";

@charset "UTF-8";

/* mobile first  */

* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.651);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);
}

img {
    display: block;
    margin: auto;
}

img#phone { display: block;}
img#tv { display: none;}
img#tablet { display: none;}
img#impressora { display: none;}
img#pc { display: none;}