@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: normal;
    line-height: 1.5em;

    /* width: 100vw; */
    /* height: 100vh; */

    background-color: lightgray;
}

p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}

header, section.normal {
    padding: 20px;
}

section.flex-content {
    padding: 20px;
    background-color: gray;

    display: flex;
    flex-flow: column nowrap;
}


 article.text-media {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;

    justify-content: space-between;
}

article div.text {
    flex: 1 1 500px;

    /* border: 2px dashed red; */
}

article div.media {
    flex: 1 0 400px;

    /* border: 2px dashed blue; */
    
}

img {
    display: block;
    margin: auto;
    
    width: 300px;
    height: 300px;
}

iframe {
    display: block;
    margin: auto;
    width: 90%;
    /* padding: 0px 20px; */
}




